.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.signup__signup-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    transform: translateY(-20%);
}

.signup__logo {
    margin: 0 auto;
}

.signup__inputs {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.inputs__row {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
}

.signup__button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.signup__error {
    width: 300px;
    font-size: 12px;
}