<div class="signup">
    <div class="signup__signup-wrapper">
        <ui-logo class="signup__logo" [size]="'large'"></ui-logo>

        <div class="signup__inputs">
            <div class="inputs__row">
                <ui-input [(value)]="name" [label]="'Ім\'я'"></ui-input>
                <ui-input [(value)]="surname" [label]="'Прізвище'"></ui-input>
            </div>
            <ui-input [(value)]="email" [label]="'Електронна пошта'"></ui-input>
            <ui-input [(value)]="password" [label]="'Пароль'" [type]="'password'"></ui-input>
            <ui-input [(value)]="confirmPassword" [label]="'Повторіть пароль'" [type]="'password'"></ui-input>
        </div>

        <div class="signup__button-wrapper">
            <ui-button [label]="'Зареєструватися'" [size]="'medium'" [isLoading]="isLoading()"
                (click)="onSubmit()"></ui-button>

            @if (errorMessage()) {
            <div class="signup__error">{{ errorMessage() }}</div>
            }
        </div>

        <span class="signup__option-text">
            Вже маєш обліковий запис?
            <ui-link [label]="'Увійти'" [type]="'primary-line'" [routerLink]="'/auth/login'"></ui-link>
        </span>
    </div>
</div>