:host {
    display: block;
    max-width: fit-content;
    width: 100%;
    max-height: fit-content;
    height: 100%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_large {
    max-width: 160px;
    height: 100%;
}

.logo_small {
    width: 40px;
    height: 54px;
}

.logo__image {
    width: 100%;
    height: 100%;
}