.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_large {
    width: 120px;
    height: 65px;
}

.logo_small {
    width: 40px;
    height: 54px;
}

.logo__image {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1199px) {
    .logo {
        width: 240px;
        height: 34px;
    }
}
