.chat-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 10px 0;
}

.chat-input__input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    color: var(--secondary-text-color);
    background-color: var(--card-background-color);
    border-radius: 24px;
}

.input-wrapper__buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}