version: '3.8'

services:
  db:
    image: pgvector/pgvector:pg16
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=yura_db
      - POSTGRES_USER=yura_user
      - POSTGRES_PASSWORD=yura_password
    ports:
      - "5433:5432"

  backend:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=1
      - SECRET_KEY=dev_secret_key
      - POSTGRES_DB=yura_db
      - POSTGRES_USER=yura_user
      - POSTGRES_PASSWORD=yura_password
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
    depends_on:
      - db

volumes:
  postgres_data:
