.label {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    user-select: none;
}

.label__text {
    padding-left: 16px;
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-text-color);
}

.select {
    appearance: none;
    cursor: pointer;
    outline: none;
    background-color: var(--background-color);
    border: none;
    transition: border-color 0.3s;
}

.select_size_small {
    min-width: 140px;
    height: 40px;
    padding: 8px 40px 8px 16px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 20px;
}

.select_size_large {
    min-width: 180px;
    height: 48px;
    padding: 10px 48px 10px 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 24px;
}

@media screen and (max-width: 1199px) {
    .select_size_small {
        min-width: 120px;
        height: 36px;
        padding: 8px 28px 8px 12px;
        font-size: 14px;
        border-radius: 18px;
    }

    .select_size_large {
        min-width: 160px;
        height: 44px;
        padding: 10px 38px 10px 18px;
        font-size: 18px;
        border-radius: 22px;
    }
}

:host:has(.select_width_full) {
    display: inline-block;
    width: 100%;
}

.label_width_full {
    width: 100%;
}

.select_width_full {
    width: 100%;
}

.select_theme_primary {
    color: var(--primary-text-color);
    border: 2px solid var(--primary-color);
}

.select_theme_primary::placeholder {
    color: var(--placeholder-text-color);
}

.select_theme_primary:hover {
    border-color: var(--primary-hover-color);
}

.select-arrow {
    position: absolute;
    pointer-events: none;
    transition: color 0.3s;
}

.select_size_small + .select-arrow {
    top: 12px;
    right: 16px;
    font-size: 16px;
}

.label_with_text .select_size_small + .select-arrow {
    top: 36px;
}

.select_size_large + .select-arrow {
    top: 14px;
    right: 18px;
    font-size: 20px;
}

.label_with_text .select_size_large + .select-arrow {
    top: 38px;
}

@media screen and (max-width: 1199px) {
    .select_size_small + .select-arrow {
        top: 11px;
        right: 12px;
        font-size: 14px;
    }

    .label_with_text .select_size_small + .select-arrow {
        top: 34px;
    }

    .select_size_large + .select-arrow {
        top: 13px;
        right: 14px;
        font-size: 18px;
    }

    .label_with_text .select_size_large + .select-arrow {
        top: 36px;
    }
}

.select_theme_primary + .select-arrow {
    color: var(--primary-color);
}

.select_theme_primary:hover + .select-arrow {
    color: var(--primary-hover-color);
}

.select:disabled {
    color: var(--disabled-text-color);
    cursor: not-allowed;
    background-color: var(--disabled-background-color);
    border-color: var(--disabled-text-color);
}

.select:disabled + .select-arrow {
    color: var(--disabled-text-color);
}