.conversation-type {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding-top: 20vh;
}

.conversation-type__options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.options__row {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

:host ::ng-deep .title h3 {
    font-size: 40px;
    font-weight: 700;
}

.row__button {
    width: 240px;
}