@if (size() == "small") {
<h3
    class="title title_size_small"
    [class.title_align_left]="align() === 'left'"
    [class.title_align_center]="align() === 'center'"
    [class.title_align_right]="align() === 'right'"
    [ngClass]="{
        'title_theme_primary': theme() === 'primary',
        'title_theme_secondary': theme() === 'secondary',
        'title_theme_light': theme() === 'light'
    }"
>
    {{ title() }}
</h3>
} @else if (size() == "medium") {
<h2
    class="title title_size_medium"
    [class.title_align_left]="align() === 'left'"
    [class.title_align_center]="align() === 'center'"
    [class.title_align_right]="align() === 'right'"
    [ngClass]="{
        'title_theme_primary': theme() === 'primary', 
        'title_theme_secondary': theme() === 'secondary',
        'title_theme_light': theme() === 'light' 
    }"
>
    {{ title() }}
</h2>
} @else if (size() == "large") {
<h1
    class="title title_size_large"
    [class.title_align_left]="align() === 'left'"
    [class.title_align_center]="align() === 'center'"
    [class.title_align_right]="align() === 'right'"
    [ngClass]="{
        'title_theme_primary': theme() === 'primary', 
        'title_theme_secondary': theme() === 'secondary',
        'title_theme_light': theme() === 'light' 
    }"
>
    {{ title() }}
</h1>
}
