.conversation {
    position: relative;
    height: 100%;
    padding-top: 20px;
}

.conversation__message-wrapper {
    height: calc(100vh - 200px);
    overflow: auto;
}

.conversation__message-wrapper::-webkit-scrollbar {
    display: none;
}

.conversation__input-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.message-ai,
.message-user {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
}

.message-user {
    align-items: flex-end;
    max-width: 640px;
    margin-left: auto;
}

.message-user .message__content {
    display: block;
    padding: 16px 24px;
    color: var(--secondary-text-color);
    background-color: var(--card-background-color);
    border-radius: 16px;
}

.control-button,
:host ::ng-deep .message__control .button {
    height: 20px !important;
    font-size: 14px !important;
}

:host ::ng-deep .message__content p {
    margin-bottom: 0.5rem;
}

:host ::ng-deep .message__content ul,
:host ::ng-deep .message__content ol {
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
}

:host ::ng-deep .message__content pre {
    background: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 8px;
    overflow-x: auto;
    margin-bottom: 0.5rem;
}

:host ::ng-deep .message__content code {
    font-family: monospace;
    background: rgba(0, 0, 0, 0.2);
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
}