.conversation {
    position: relative;
    height: 100dvh;
}

.conversation__message-wrapper {
    height: calc(100vh - 220px);
    padding: 20px 0;
    overflow: auto;
}

.conversation__input-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
}