.cabinet,
.cabinet-background {
    display: none !important;
}

.cabinet_visible,
.cabinet_visible + .cabinet-background {
    display: flex !important;
}

.cabinet {
    position: fixed;
    top: 40%;
    left: 50%;
    z-index: var(--z-index-popup);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 460px;
    overflow: hidden;
    background-color: var(--background-color);
    border-radius: 20px;
    transform: translate(-50%, -50%);
}

.cabinet-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-index-popup-background);
    width: 100%;
    height: 100%;
    background-color: var(--shadow-color-2);
}

.header__close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

:host ::ng-deep .header__close-button .button__icon {
    font-size: 20px;
}

.cabinet__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    height: 100%;
    padding: 16px;
}

.content__main {
    height: 100%;
}

.cabinet__menu {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    width: 200px;
    height: 100%;
    padding: 10px;
    background-color: var(--dark-background-color);
}

.menu__item {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.2s;
}

.menu__logout-button {
    margin-top: auto;
}

.item_active {
    background-color: var(--conversation-item-background-color);
}

.menu__item:hover {
    background-color: var(--button-hover-color);
}