.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 260px;
    max-width: 260px;
    height: 100dvh;
    padding: 16px;
    background-color: var(--dark-background-color);
    opacity: 1;
    transition: all 0.3s;
}

.sidebar_collapsed {
    max-width: 64px;
}

.sidebar_collapsed .sidebar__nav,
.sidebar_collapsed .header__logo,
.sidebar_collapsed .history__list,
.sidebar_collapsed .history__title{
    pointer-events: none;
    opacity: 0;
}

.sidebar__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.header__collapse-button {
    cursor: pointer;
}

.sidebar__nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.history__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    cursor: pointer;
}

.history__title:hover {
    filter: brightness(0.8);
}

.history__list {
    height: calc(100vh - 350px);
    max-height: calc(100vh - 350px);
    padding-right: 4px;
    overflow: auto;
    transition: all 0.5s;
}

.history__list_collapsed {
    max-height: 0;
}

.history__list::-webkit-scrollbar {
    width: 4px;
    background-color: var(--shadow-color-1);
    border-radius: 2px;
}

.history__list::-webkit-scrollbar-thumb {
    background-color: var(--button-background-color);
    border-radius: 2px;
}

.history__item {
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.2s;
}

.item__item-title {
    display: flex;
    flex-grow: 1;
    gap: 10px;
    align-items: center;
    overflow: hidden;
}

.item-title__text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item__menu {
    position: relative;
    margin-left: 0.5rem;
}

.menu__toggle {
    color: var(--primary-text-color);
    cursor: pointer;
    background: transparent;
    border: none;
}

.menu__dropdown {
    position: absolute;
    top: 24px;
    right: 0;
    z-index: var(--z-index-1);
    display: flex;
    flex-direction: column;
    width: 200px;
    overflow: hidden;
    background: var(--light-background-color);
    border-radius: 8px;
    box-shadow: 0 2px 6px var(--shadow-color-2);
}

.menu-dropdown__action {
    display: flex;
    gap: 8px;
    padding: 12px;
    font-weight: 700;
    color: var(--primary-text-color);
    text-align: left;
    cursor: pointer;
    background: transparent;
    border: none;
}

.menu-dropdown__action:hover {
    background-color: var(--button-background-color);
}

.item_active {
    background-color: var(--conversation-item-background-color);
}

.history__item:hover {
    background-color: var(--button-hover-color);
}