<div class="sidebar">
    <div class="sidebar__header">
        <i class="fa-solid fa-bars"></i>
        <ui-logo [size]="'small'"></ui-logo>
    </div>

    <div class="sidebar__nav">
        <ui-button
            [label]="'Новий чат'"
            [icon]="'fa-solid fa-pen'"
            [type]="'primary'"
            [align]="'left'"
            [isFullWidth]="true"
            [routerLink]="'/conversation'"
        ></ui-button>
        <ui-button
            [label]="'Пошук в чатах'"
            [icon]="'fa-solid fa-magnifying-glass'"
            [type]="'primary'"
            [align]="'left'"
            [isFullWidth]="true"
            (click)="showSearchPopup()"
        ></ui-button>
        <ui-button
            [label]="'Бібліотека'"
            [icon]="'fa-solid fa-book'"
            [type]="'primary'"
            [align]="'left'"
            [isFullWidth]="true"
            [routerLink]="'/conversation/library'"
        ></ui-button>
    </div>

    <div class="sidebar__history">
        <div class="history__title">
            <span class="title__text">Минулі чати</span>
            <i class="fa-solid fa-arrow-down"></i>
        </div>
        <div class="history__list">
            @for (item of conversations(); track item.id) {
                <div 
                    class="history__item" 
                    [class]="{ item_active: item.id === activeConversationId() }"
                    (click)="openConversation(item.id, item.conv_type)"
                >
                    <span class="item__icon">
                        @if (item.conv_type === conversationTypes.Bussiness) {
                            <i class="fa-solid fa-wallet"></i>
                        } @else if (item.conv_type === conversationTypes.SelfEmployment) {
                            <i class="fa-solid fa-briefcase"></i>
                        } @else if (item.conv_type === conversationTypes.Hiring) {
                            <i class="fa-solid fa-handshake"></i>
                        } @else if (item.conv_type === conversationTypes.CareerPath) {
                            <i class="fa-solid fa-signs-post"></i>
                        } @else if (item.conv_type === conversationTypes.Education) {
                            <i class="fa-solid fa-graduation-cap"></i>
                        }
                    </span>
                    <span class="item__text">{{ item.title }}</span>

                    <div class="item__menu" (click)="$event.stopPropagation()">
                        <button class="menu__toggle" (click)="showMenu(item.id)">⋯</button>
                        @if (openMenuId() === item.id) {
                            <div class="menu__dropdown">
                                <button class="menu__action" (click)="renameConversation(item.id)">Rename</button>
                                <button class="menu__action menu__danger" (click)="deleteConversation(item.id)">Delete</button>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>
