.article {
    max-width: 800px;
    padding: 32px 0;
    margin: 0 auto;
}

.article__back-button {
    margin-bottom: 20px;
    margin-left: 20px;
}

.article-header {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.article-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 24px;
    background: var(--card-background-color);
    border-radius: 12px;
    box-shadow: 0 2px 8px var(--shadow-color-2);
}

.article-content__meta {
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 12px;
    color: var(--secondary-text-color);
}

.meta__category {
    padding: 6px 10px;
    font-weight: 700;
    color: var(--primary-text-color);
    background: var(--button-background-color);
    border-radius: 16px;
}

.article-content__image {
    overflow: hidden;
    border-radius: 8px;
}

.article-content__image img {
    display: block;
    width: 100%;
    height: auto;
}

.article-content__body {
    line-height: 1.8;
    color: var(--secondary-text-color);
    text-align: justify;
}

.article-content__body a {
    color: var(--primary-text-color);
}

.loading, .not-found {
    padding: 30px;
    color: var(--secondary-text-color);
    text-align: center;
}

.meta__tags {
    display: flex;
    gap: 12px;
}

.tags__tag {
    font-size: 12px;
    color: var(--secondary-text-color);
}

.article-content__info {
    display: flex;
    gap: 12px;
    font-size: 14px;
    color: var(--secondary-text-color);
}

.article-list__recommended-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
}


.recommended-wrapper__list-wrapper {
    display: flex;
    gap: 12px;
    align-items: center;
    width: 100%;
}

.list-wrapper__list {
    display: flex;
    flex: 1;
    gap: 16px;
    padding: 8px 4px 16px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-color: var(--button-background-color) transparent;
    scrollbar-width: thin;
}

.list-wrapper__list::-webkit-scrollbar {
    height: 6px;
}

.list-wrapper__list::-webkit-scrollbar-track {
    background: transparent;
}

.list-wrapper__list::-webkit-scrollbar-thumb:hover {
    background-color: var(--button-hover-color);
}
