.label {
    display: flex;
    gap: 6px;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.checkbox {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    appearance: none;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--card-background-color);
    border-radius: 4px;
    transition: background-color 0.3s;
}

.checkbox:focus {
    outline: none;
}

.checkbox:checked {
    background-color: var(--card-background-color);
}

.checkbox::after {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font: var(--fa-font-solid);
    font-size: 12px;
    color: var(--dark-background-color);
    content: "\f00c";
    transform: scale(0);
    transform-origin: center;
    transition: 0.3s;
}

.checkbox:checked::after {
    transform: scale(1);
}

.label_disabled {
    cursor: default;
}

.checkbox:disabled {
    cursor: default;
    background-color: var(--disabled-background-color);
    border-color: var(--disabled-border-color);
}

.checkbox:disabled::after {
    color: var(--disabled-text-color);
}

.label_disabled .label__text {
    color: var(--disabled-text-color);
}