.summary {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.summary__editor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

.editor__textarea {
    width: 100%;
    color: var(--primary-text-color);
    background: var(--card-background-color);
    border-radius: 16px;
}
