<div class="summary">
    <div class="summary__editor">
        <span class="editor__label">Короткий підсумок резюме</span>

        <ui-button [label]="isGenerating() ? 'Генерується...' : 'Згенерувати самарі'" 
            [icon]="isGenerating() ? 'fa-solid fa-spinner fa-spin' : 'fa-solid fa-wand-magic-sparkles'" 
            [type]="'secondary'"
            [isDisabled]="isGenerating()"
            (click)="generateSummary()"></ui-button>
    </div>

    <ui-textarea class="editor__textarea" [placeholder]="'Ваше резюме в короткому описі...'" [isFullWidth]="true"
        [value]="summaryText()" (valueChange)="onSummaryChange($event)"></ui-textarea>
</div>