.popup,
.popup-background {
    display: none !important;
}

.popup_visible,
.popup_visible + .popup-background {
    display: flex !important;
}

.popup {
    position: fixed;
    top: 40%;
    left: 50%;
    z-index: var(--z-index-popup);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 400px;
    background-color: var(--background-color);
    border-radius: 20px;
    transform: translate(-50%, -50%);
}

.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-index-popup-background);
    width: 100%;
    height: 100%;
    background-color: var(--shadow-color-2);
}

.header__close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}