<div class="popup" [class]="{ popup_visible: isVisible() }">
    <div class="popup__content">
        <div class="popup__header">
            <span class="header__title">Пошук в чатах</span>
            <span class="header__close-button" (click)="hidePopup()">×</span>
        </div>
        <div class="popup__body">
            <ui-input
                class="body__search-input"
                [placeholder]="'Введіть текст для пошуку...'"
                [(value)]="searchField"
                (valueChange)="getSearchResults()"
            ></ui-input>
            <div class="body__results">
                @if (results().length === 0) {
                    <span class="results__no-results">Немає чатів</span>
                } @else {
                    @for (result of results(); track result.id) {
                        <div class="results__item" (click)="openConversation(result.id)">
                            <span class="item__chat-title">{{ result.title || 'Без назви' }}</span>
                            <span class="item__message-snippet">{{ result.conv_type ?? 'Загальний' }}</span>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

<div class="popup-background" (click)="hidePopup()"></div>
