.form-personal {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form__row {
    display: flex;
    gap: 12px;
    justify-content: space-between;
}

.field__ai {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
