<div class="form-personal">
    <ui-title [title]="'Особисті дані'" [size]="'medium'"></ui-title>

    <div class="form__row">
        <ui-input
            class="field__input"
            [label]="'Ім\'я'"
            [value]="personalInfo()?.first_name ?? ''"
            (valueChange)="updateField('first_name', $event)"
            [placeholder]="'Іван'"
        ></ui-input>
        <ui-input
            class="field__input"
            [label]="'Прізвище'"
            [value]="personalInfo()?.last_name ?? ''"
            (valueChange)="updateField('last_name', $event)"
            [placeholder]="'Іваненко'"
        ></ui-input>
    </div>

    <div class="form__row">
        <ui-input
            class="field__input"
            [label]="'Email'"
            [value]="personalInfo()?.email ?? ''"
            (valueChange)="updateField('email', $event)"
            [placeholder]="'example@email.com'"
        ></ui-input>
        <ui-input
            class="field__input"
            [label]="'Телефон'"
            [value]="personalInfo()?.phone ?? ''"
            [type]="'phone'"
            (valueChange)="updateField('phone', $event)"
        ></ui-input>
    </div>

    <ui-input
        class="field__input"
        [label]="'Професія'"
        [value]="personalInfo()?.profession ?? ''"
        (valueChange)="updateField('profession', $event)"
        [placeholder]="'Дизайнер'"
    ></ui-input>

    <ui-input
        class="field__input"
        [label]="'Адреса'"
        [value]="personalInfo()?.address ?? ''"
        (valueChange)="updateField('address', $event)"
        [placeholder]="'Вулиця, будинок'"
    ></ui-input>

    <div class="form__row">
        <ui-input
            class="field__input"
            [label]="'Місто'"
            [value]="personalInfo()?.city ?? ''"
            (valueChange)="updateField('city', $event)"
            [placeholder]="'Київ'"
        ></ui-input>

        <ui-input
            class="field__input"
            [label]="'Країна'"
            [value]="personalInfo()?.country ?? ''"
            (valueChange)="updateField('country', $event)"
            [placeholder]="'Україна'"
        ></ui-input>
    </div>
</div>
