<div class="article-card">
    @if (variant() === "horizontal") {
        <div class="article-card-horizontal" (click)="handleClick()" [routerLink]="['/article', article().id]">
            @if (article().image) {
                <div class="horizontal__image-wrapper">
                    <img class="image-wrapper__image" [src]="article().image" [alt]="article().title" />
                </div>
            }

            <div class="horizontal__content">
                <div class="content__header">
                    <h3 class="header__title">{{ article().title }}</h3>
                    @if (article().category) {
                        <span class="header__category">{{ article().category }}</span>
                    }
                </div>

                @if (article().summary) {
                    <p class="content__summary">{{ article().summary }}</p>
                }

                <div class="content__footer">
                    <div class="footer__meta">
                        <span class="meta__date">
                            <i class="fa-solid fa-calendar"></i>
                            {{ formatDate(article().created_at!) }}
                        </span>
                        <span class="meta__views">
                            <i class="fa-solid fa-eye"></i>
                            {{ article().views }}
                        </span>
                    </div>

                    @if (article().tags && article().tags!.length > 0) {
                        <div class="footer__tags">
                            @for (tag of article().tags; track tag) {
                                <span class="tags__item" (click)="handleTagClick($event, tag)">#{{ tag }}</span>
                            }
                        </div>
                    }

                    <button class="footer__button">
                        Читати
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    } @else {
        <div class="article-card-vertical" (click)="handleClick()" [routerLink]="['/article', article().id]">
            @if (article().image) {
                <div class="vertical__image-wrapper">
                    <img class="image-wrapper__image" [src]="article().image" [alt]="article().title" />
                    <div class="image-wrapper__data">
                        <span class="data__views">
                            <i class="fa-solid fa-eye"></i>
                            {{ article().views }}
                        </span>
                        <span class="data__date">{{ formatDate(article().created_at!) }}</span>
                    </div>
                </div>
            }

            <div class="vertical__content">
                <h3 class="content__title">{{ article().title }}</h3>

                @if (article().summary) {
                    <p class="content__summary">{{ article().summary }}</p>
                }
            </div>

            <div class="vertical__footer">
                @if (article().tags && article().tags!.length > 0) {
                    <div class="footer__tags">
                        @for (tag of article().tags; track tag) {
                            <span class="tags__item" (click)="handleTagClick($event, tag)">#{{ tag }}</span>
                        }
                    </div>
                }

                <div class="footer__actions">
                    @if (article().category) {
                        <span class="actions__category">{{ article().category }}</span>
                    }

                    <button class="actions__button">
                        Читати
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    }
</div>
