:host {
    display: inline-block;
    width: max-content;
}

.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.button_size_small {
    gap: 6px;
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 20px;
}

.button_size_medium {
    gap: 8px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 22px;
}

.button_size_large {
    gap: 10px;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 24px;
}

:host:has(.button_size_small) {
    height: 32px;
}

:host:has(.button_size_medium) {
    height: 40px;
}

:host:has(.button_size_large) {
    height: 48px;
}

@media screen and (max-width: 1199px) {
    .button_size_small {
        gap: 6px;
        padding: 10px 12px;
        font-size: 14px;
        border-radius: 18px;
    }

    .button_size_large {
        gap: 10px;
        padding: 12px 24px;
        border-radius: 22px;
    }
}

:host:has(.button_width_full) {
    width: 100%;
}

.button_with_icon:not(.button_with_label) {
    aspect-ratio: 1;
    padding: 0;
    font-size: 26px;
    border-radius: 50%;
}

:host:has(.button_with_icon:not(.button_with_label)) {
    width: 40px;
}

@media screen and (max-width: 1199px) {
    .button_with_icon:not(.button_with_label) {
        font-size: 22px;
    }
}

.button__icon-wrapper {
    line-height: 1;
}

.button_type_primary {
    color: var(--primary-text-color);
    background-color: var(--button-background-color);
}

.button_type_primary:not(.button_disabled):hover {
    background-color: var(--button-hover-color);
}

.button_type_primary-line {
    color: var(--primary-text-color);
    border: 4px solid var(--button-border-color);
}

.button_type_primary-line:not(.button_disabled):hover {
    color: var(--primary-text-color);
    background-color: var(--button-hover-color);
}

.button_type_secondary {
    color: var(--secondary-text-color);
    background-color: var(--contrast-color);
}

.button_type_secondary:not(.button_disabled):hover {
    background-color: var(--contrast-hover-color);
}

.button_type_icon {
    color: var(--primary-text-color);
    background-color: transparent;
}

.button_theme_light {
    color: var(--primary-text-color);
}

.button_theme_light.button_type_icon:hover {
    filter: brightness(0.8);
}

.button_theme_dark {
    color: var(--secondary-text-color);
}

.button_theme_dark.button_type_icon:hover {
    filter: brightness(4);
}

.button_align_left {
    justify-content: flex-start;
}

.button_disabled {
    cursor: default;
}

.button_type_primary.button_disabled {
    color: var(--disabled-background-color);
    background-color: var(--disabled-text-color);
}

.button_type_primary-line.button_disabled {
    color: var(--disabled-text-color);
    background-color: var(--disabled-background-color);
    border-color: var(--disabled-border-color);
}

.button__loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.button__loader {
    width: 20px;
    aspect-ratio: 1;
    border: 4px solid var(--secondary-background-color);
    border-right-color: var(--primary-color);
    border-radius: 50%;
    animation: filtersLoader 1.5s infinite linear;
}

@keyframes filtersLoader {
    to {
        transform: rotate(1turn);
    }
}

.button__loader-wrapper ~ .button__label,
.button__loader-wrapper ~ .button__icon-wrapper {
    opacity: 0;
}
