<button
    class="button"
    [ngClass]="{
        'button_with_label': label(),
        'button_with_icon': icon(),
        'button_size_small': size() === 'small',
        'button_size_medium': size() === 'medium',
        'button_size_large': size() === 'large',
        'button_type_primary': type() === 'primary',
        'button_type_primary-line': type() === 'primary-line',
        'button_type_secondary': type() === 'secondary',
        'button_type_icon': type() === 'icon',
        'button_align_left': align() === 'left',
        'button_align_center': align() === 'center',
        'button_width_full': isFullWidth(),
        'button_disabled': isDisabled() || isLoading(),
    }"
    [disabled]="isDisabled() || isLoading()"
    (click)="handleClick($event)"
>
    @if (isLoading() && (type() == 'primary' || type() == 'primary-line')) {
    <div class="button__loader-wrapper">
        <div class="button__loader"></div>
    </div>
    } @if (icon()) {
    <span class="button__icon-wrapper">
        <i class="button__icon" [ngClass]="icon()"></i>
    </span>
    } @if (label()) {
    <span class="button__label">{{ label() }}</span>
    }
</button>
