/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    color: var(--primary-text-color);
    background-color: var(--background-color);
}
