/* You can add global styles to this file, and also import other style files */

:root {
    --header-height: 64px;
    --footer-height: 200px;

    --z-index-1: 1010;
    --z-index-2: 1020;
    --z-index-3: 1030;
    --z-index-header: 1040;
    --z-index-popup-background: 1050;
    --z-index-popup: 1060;

    --background-color: #4e6745;
    --dark-background-color: #293325;
    --light-background-color: #84b09e;
    --card-background-color: #e3e2cd;

    --secondary-text-color: #0d0d0d;
    --primary-text-color: #faf7f0;

    --button-background-color: #4d888c;
    --button-hover-color: #285d61;
    --button-border-color: #4d888c;

    --conversation-item-background-color: #465d5f;

    --disabled-background-color: #787878;
    --disabled-text-color: #e8e8e8;
    --disabled-border-color: #787878;

    --contrast-color: #d2a679;
    --contrast-hover-color: #9e7d5b;

    --shadow-color-1: rgb(0, 0, 0, 0.5);
    --shadow-color-2: rgb(0, 0, 0, 0.2);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Inter;
}

body,
html {
    width: 100%;
    height: 100%;
    color: var(--primary-text-color);
    background-color: var(--background-color);
}

.container {
    width: 100%;
    max-width: 1400px;
    padding-inline: 32px;
    margin: 0 auto;
}

@media screen and (max-width: 991px) {
    .container {
        padding-inline: 16px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        padding-inline: 12px;
    }
}

@media screen and (max-width: 565px) {
    .container {
        padding-inline: 6px;
    }
}
