.form-skills {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form__add {
    display: flex;
    gap: 8px;
    align-items: flex-end;
}

.add__level {
    flex-shrink: 0;
    width: 240px;
}

.skills__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.skill-item {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px 12px;
    background: var(--button-background-color);
    cursor: pointer;
    border-radius: 20px;
}

.skill-item:hover {
    background: var(--button-hover-color);
}

.skill__name {
    font-size: 12px;
    font-weight: 700;
}

.skill__level {
    font-size: 10px;
}

.form__empty {
    padding: 32px;
    text-align: center;
}
