.main__block {
    min-height: 400px;
    padding: 30px 0;
}

.main__block_light {
    color: var(--secondary-text-color);
    background-color: var(--card-background-color);
}

.block-intro .container {
    display: flex;
    gap: 50px;
    height: calc(400px - 30px * 2);
}

.intro-image {
    flex-shrink: 0;
    width: calc(50% - 25px);
    height: 100%;
}

.intro-image__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}