.footer {
    width: 100%;
    height: var(--footer-height);
    background-color: var(--dark-background-color);
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}