.footer {
    width: 100%;
    height: var(--footer-height);
    background-color: var(--dark-background-color);
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.block__title {
    font-weight: 700;
}

.block__links {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;
}