.textarea {
    max-height: 400px;
    font-family: Inter;
    font-size: 16px;
    resize: none;
    outline: none;
    color: var(--secondary-text-color);
    background-color: var(--card-background-color);
    border: none;
    transition: border-color 0.3s;
}

.textarea::-webkit-scrollbar {
    display: none;
}

.textarea_size_small {
    min-width: 200px;
    min-height: 140px;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 20px;
}

.textarea_size_large {
    min-width: 240px;
    min-height: 120px;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 24px;
}

@media screen and (max-width: 1199px) {
    .textarea_size_small {
        height: 100px;
        padding: 10px 12px;
        font-size: 14px;
        border-radius: 18px;
    }

    .textarea_size_large {
        min-height: 200px;
        padding: 12px 18px;
        font-size: 18px;
        border-radius: 22px;
    }
}

.textarea_theme_primary {
    color: var(--primary-text-color);
    border: 2px solid var(--primary-color);
}

.textarea_theme_primary::placeholder {
    color: var(--placeholder-text-color);
}

.textarea_theme_primary:hover {
    border-color: var(--primary-hover-color);
}

.textarea_width_full {
    width: 100%;
}.textarea:disabled { opacity: 0.6; cursor: not-allowed; }
