.chat-header {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 260px);
    height: var(--header-height);
    padding-right: 16px;
    padding-left: 24px;
}

.chat-header__account {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 18px;
    color: var(--primary-text-color);
    cursor: pointer;
    background-color: var(--button-background-color);
    border-radius: 50%;
}