.chat-header {
    position: absolute;
    top: -44px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--header-height);
    padding-right: 16px;
    padding-left: 24px;
    background-color: var(--light-background-color);
    transition: all 0.3s;
}

.chat-header:hover {
    top: 0;
    box-shadow: 0 2px 8px var(--shadow-color-2);
}

.chat-header__account {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 18px;
    color: var(--primary-text-color);
    cursor: pointer;
    background-color: var(--button-background-color);
    border-radius: 50%;
}

.chat-header__nav {
    display: flex;
    gap: 16px;
}